<a href="https://colab.research.google.com/github/MarvinLopezOsorio/AnaliticaPredictiva_TrabajoFinal/blob/main/Trabajo%20Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
myfile = pd.read_excel('https://github.com/MarvinLopezOsorio/AnaliticaPredictiva_TrabajoFinal/blob/main/Base%20de%20Datos%20Universidad.xlsx?raw=true')

   Ingreso  Estado      Sexo  ... Hábitos  Aprobación  tipo institución
0     2017  ACTIVO  Femenino  ...       5    Aprobado           Privado
1     2017  ACTIVO  Femenino  ...       1    Aprobado           Privado
2     2017  ACTIVO  Femenino  ...       4    Aprobado           Público
3     2017  ACTIVO  Femenino  ...       7    Aprobado           Público
4     2017  ACTIVO  Femenino  ...       2    Aprobado           Privado

[5 rows x 21 columns]